export SECRET_KEY="sadasdasd"
export DEBUG="false"
export ALLOWED_HOSTS="tymr.online"
export CSRF_TRUSTED_ORIGINS="https://tymr.online,http://tymr.online"
export REDIS_HOST=127.0.0.1
export REDIS_PORT=6379
export CYCLE_CHANGE_INTERNAL_SECRET_KEY="3d8b014a-8124-5fcb13f146f5"
export DB_ENGINE="django.db.backends.postgresql"
export DB_NAME="tymr_app"
export DB_USER="timer_user"
export DB_PASSWORD="password"
export DB_HOST="localhost"
export DB_PORT=5432
