
# Python
__pycache__/
*.py[cod]

# Django
*.log
local_settings.py
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/
venv_focus_timer/

# IDE
.vscode/
.idea/
*.DS_Store*
*static_files/*
