{% extends "base.html" %}

{% block content %}
<h1>Active Focus Session</h1>
<div id="timer">00:00</div>
<button id="pause-resume">Pause</button>
<button id="end-session">End Session</button>

<script>
    const timerSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/timer/'
    );

    timerSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#timer').innerHTML = data.time;
    };

    document.querySelector('#pause-resume').onclick = function(e) {
        timerSocket.send(JSON.stringify({
            'action': 'pause_resume'
        }));
    };

    document.querySelector('#end-session').onclick = function(e) {
        timerSocket.send(JSON.stringify({
            'action': 'end_session'
        }));
    };
</script>
{% endblock %}
